/* media constants */
@media only screen and (max-width: 600px) {
    :root {
        --ts: 16px;
    }
}
@media only screen and (min-width: 600px) {
    :root {
        --ts: 18px;
    }
}
@media only screen and (min-width: 768px) {
    :root {
        --ts: 20px;
    }
}
@media only screen and (min-width: 992px) {
    :root {
        --ts: 24px;
    }
}
@media only screen and (min-width: 1700px) {
    :root {
        --ts: 32px;
    }
}

/* general constants */
:root {
    --bt: calc(var(--ts) * 8);
    --font-size: calc(var(--ts) / 2.5);
    --cell-width: 80px;
    --cell-color: #b3e6c1;
}

/* other */
body {
    background: #fcfcfc;
    color: #010101;
    font-family: system-ui, -apple-system, 'Helvetica Neue', sans-serif;
    font-size: var(--ts);
    margin: 0;
    text-align: center;
    transition: all 0.7s ease;
}

.cell {
    stroke: #69696980;
}
