/* font face */
@font-face {
    font-display: block;
    font-family: font;
    src: url("../fonts/JetBrainsMono-VariableFont_wght.ttf");
}

/* fade-in animation */
@keyframes fadein {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* media constants */
@media only screen and (max-width: 600px) {
    :root {
        --ts: 32px;
    }

    #fruits-calendar, #vegetables-calendar {
        flex: 0 0 100%;
        min-width: auto !important;
    }
}
@media only screen and (min-width: 600px) {
    :root {
        --ts: 26px;
    }
}
@media only screen and (min-width: 768px) {
    :root {
        --ts: 28px;
    }
}
@media only screen and (min-width: 992px) {
    :root {
        --ts: 30px;
    }
}
@media only screen and (min-width: 1700px) {
    :root {
        --ts: 32px;
    }
}

/* general constants */
:root {
    --bg: #000;
    --bt: calc(var(--ts) * 8);
    --cw: 80px;
    --fs: calc(var(--ts) / 1.5);
    --lk: #fda0a0bf;
    --tc: #fcfcfc;
}

/* other */
a {
    color: var(--lk);
    font-weight: bolder;
    text-decoration: none;
}

.a-common {
    letter-spacing: 2px;
    text-shadow: 0 0 1rem var(--lk);
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.a-common::before {
    content: "> ";
}

.a-common::after {
    content: " <";
}

.a-common:hover {
    letter-spacing: 0;
    text-shadow: 0 0 0 var(--lk);
}

body {
    background: var(--bg);
    color: var(--tc);
    font-family: font, system-ui, -apple-system, 'Helvetica Neue', sans-serif;
    font-size: var(--ts);
    margin: 0;
    text-align: center;
}

#color-mode, #go-back {
    filter: drop-shadow(0 0 1rem var(--lk));
    height: 1.5em;
    transition: filter 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    width: 1.5em;
}

#color-mode:hover, #go-back:hover {
    filter: drop-shadow(0 0 0 var(--lk));
}

#color-mode-link {
    font-size: calc(var(--ts) * 2);
    height: 1.5em;
    margin: auto;
    width: 1.5em;
}

#footer {
    margin: calc(var(--bt) / 4);
}

.go-back{
    stroke: var(--lk);
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
}

#go-back-link {
    font-size: calc(var(--ts) * 2);
    height: 1.5em;
    margin: auto;
    width: 1.5em;
}

#header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: calc(var(--bt) / 4);
}

/* graphs */
.calendar {
    flex: 0 0 49%;
    transition: transform 0.5s ease-in-out;
}

#calendars-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#fruits-calendar, #vegetables-calendar {
    border: 1px solid var(--lk);
    min-width: 600px;
    padding: .25%;
}
