/* ANY */
@font-face {
    font-family: font;
    src: url( "../fonts/3270.ttf" );
}

@keyframes fadein {
    from {
        opacity: 0;
    } to {
        opacity: 1;
    }
}

html, html[data-mode="dark"] {
    --background: #141414;
    --link: #fda2a2e0;
    --text-color: #fcfcfc;
}

html[data-mode="light"] {
    --background: #f5f5f5;
    --link: #7b72c0f1;
    --text-color: #141414;
}

html *, html *:before, html *:after {
    transition: all 0.7s ease-in-out;
}

body {
    animation: fadein 0.5s ease-in-out;
    background-color: var( --background );
    color: var( --text-color );
    font-family: font;
    margin: 0;
}

a {
    animation: fadein 3s ease-in-out;
    color: var( --link );
    font-weight: bolder;
}

code {
    animation: fadein 3s ease-in-out;
    color: var( --link );
    font-weight: lighter;
}

h1 {
    animation: fadein 0.5s ease-in-out;
    font-size: var( --big-size );
    text-shadow: 0 0 0.01em var( --text-color );
}

p {
    animation: fadein 0.5s ease-in-out;
    font-size: var( --size );
    line-height: var( --line-height );
}

#scene {
    animation: fadein 3s ease-in-out;
    position: fixed;
    z-index: -1;
}

span {
    animation: fadein 3s ease-in-out;
    color: var( --link );
    cursor: pointer;
}

a:hover, code:hover, .logo:hover, span:hover {
    text-shadow: 0 0 1rem var( --link );
}

/* HEADER */
#header {
    left: var( --dark-mode-pos );
    margin: 0;
    position: fixed;
}

#dark-mode {
    font-size: var( --big-size );
    text-decoration: none;
    transition: text-shadow 2s ease-out;
}

/* CONTENT */
#content {
    margin: 0;
    text-align: center;
    padding-bottom: var( --big-size );
    padding-top: var( --big-size );
    padding-left: var( --pad );
    padding-right: var( --pad );
}

#ico {
    animation: fadein 3s ease-in-out;
    cursor: pointer;
    height: 7rem;
    margin: auto;
    width: 7rem;
}

img {
    animation: fadein 2s ease-in-out;
    border-radius: 50%;
    height: var( --avatar );
    width: var( --avatar );
    transition: box-shadow 1s ease-out;
}

img:hover {
    box-shadow: 0 0 2.5rem 0 var( --link );
}

#infos {
    display: table;
    width: 100%;
}

ul {
    animation: fadein 0.5s ease-in-out;
    display: inline-block;
    font-size: var( --size );
    margin: 0;
    text-align: left;
}

/* FOOTER */
#footer {
    font-size: var( --size );
    margin: 0;
    padding-left: var( --pad );
    padding-right: var( --pad );
}

.logo {
    font-size: var( --logo );
    text-decoration: none;
    transition: text-shadow 0.5s ease-out;
}

#storage {
    animation: fadein 1s ease-in-out;
    background-color: var( --link );
    border: none;
    border-radius: 3em;
    box-shadow: none;
    color: #fcfcfc;
    cursor: pointer;
    font-family: font;
    font-size: var( --size );
    margin-bottom: 2rem;
    padding: 0.5em 1em;
    transition: box-shadow 0.5s ease-out;
}

#storage:hover {
    box-shadow: 0 0 1.5rem 0 var( --link );
}

@media only screen and ( max-width: 600px ) {
    :root {
        --avatar: 15rem;
        --big-size: 2.5rem;
        --dark-mode-pos: 90%;
        --line-height: 1.4rem;
        --logo: 3.7rem;
        --pad: 3rem;
        --size: 1.2rem;
    }

    #interests {
        float: left;
        margin-bottom: var( --big-size );
    }

    #techs {
        float: left;
    }
}

@media only screen and ( min-width: 600px ) {
    :root {
        --avatar: 18rem;
        --big-size: 3rem;
        --dark-mode-pos: 94%;
        --line-height: 1.9rem;
        --logo: 4.5rem;
        --pad: 3rem;
        --size: 1.5rem;
    }

    #interests {
        float: left;
        margin-bottom: var( --big-size );
    }

    #techs {
        float: left;
    }
}

@media only screen and ( min-width: 768px ) {
    :root {
        --avatar: 18rem;
        --big-size: 4rem;
        --dark-mode-pos: 93%;
        --line-height: 2.2rem;
        --logo: 6rem;
        --pad: 4rem;
        --size: 1.5rem;
    }

    #interests {
        float: left;
        margin-bottom: var( --big-size );
    }

    #techs {
        float: left;
    }
}

@media only screen and ( min-width: 992px ) {
    :root {
        --avatar: 18rem;
        --big-size: 4.5rem;
        --dark-mode-pos: 94%;
        --line-height: 2.3rem;
        --logo: 6.7rem;
        --pad: 4rem;
        --size: 1.5rem;
    }

    #interests {
        float: left;
        margin-left: 5%;
        width: 45%;
    }

    #techs {
        float: right;
        margin-right: 5%;
        width: 45%;
    }
}

@media only screen and ( min-width: 1200px ) {
    :root {
        --avatar: 18rem;
        --big-size: 5rem;
        --dark-mode-pos: 95%;
        --line-height: 2.4rem;
        --logo: 7.5rem;
        --pad: 3rem;
        --size: 1.7rem;
    }

    #interests {
        float: left;
        margin-left: 15%;
        width: 35%;
    }

    #techs {
        float: right;
        margin-right: 15%;
        width: 35%;
    }
}