/* font face */
@font-face {
    font-display: block;
    font-family: font;
    src: url("../fonts/3270NerdFontMono-Regular.ttf");
}

/* media constants */
@media only screen and (max-width: 600px) {
    :root {
        --ts: 16px;
        --cw: 95%;
    }
}
@media only screen and (min-width: 600px) {
    :root {
        --ts: 18px;
        --cw: 90%;
    }
}
@media only screen and (min-width: 768px) {
    :root {
        --ts: 20px;
        --cw: 80%;
    }
}
@media only screen and (min-width: 992px) {
    :root {
        --ts: 24px;
        --cw: 75%;
    }
}
@media only screen and (min-width: 1700px) {
    :root {
        --ts: 32px;
        --cw: 65%;
    }
}

/* general constants */
:root {
    --bg: #000;
    --lk: #fda2a2de;
    --tc: #fcfcfc;
    --bt: calc(var(--ts) * 8);
}

/* other */
body {
    background: var(--bg);
    color: var(--tc);
    font-family: font;
    font-size: var(--ts);
    margin: 0;
    transition: all 0.7s ease;
}

b {
    color: var(--lk);
    font-weight: bolder;
    text-shadow: 0 0 1rem var(--lk);
}

#card {
    backdrop-filter: blur(0.5rem);
    border: 1px solid var(--lk);
    border-top: 0px;
    border-bottom: 0px;
    margin: auto;
    width: var(--cw);
}

#content {
    margin: 0;
    text-align: center;
    padding: 1rem;
}

h1 {
    text-shadow: 0 0 0.01rem var(--tc);
}

img {
    border-radius: 50%;
    box-shadow: 0 0 0.1rem var(--lk);
    height: var(--bt);
    width: var(--bt);
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

img:hover {
    box-shadow: 0 0 1rem var(--lk);
}
